body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: cornsilk;
}

/* Header self image */
img {
    margin: 0px 50px;
    width: 150px;
    height: 175px;
    display: inline;
    position: relative;
}

/* Nav bar links */
a {
    padding-right: 25px;
}

/* Projects div w/images */
/* .prodivs {
    width: 20%;
    padding: 25px 25px;
} */

/* .prodivs img {
    padding: 10px;
    width: 250px;
    height: 225px;
} */

/* Header */
#header {
    border-bottom: 15px ridge green;
    padding-bottom: 20px;
    text-align: center;
}

#header h1 {
    margin: 0px 50px;
    font-size: 70px;
    display: inline-block;
}

/* Navigation bar */
#navbar {
    text-align: center;
    padding-top: 30px;
}

/* Welcome section */
#welcome {
    padding-top: 10px;
    text-align: left;
    margin: 50px 250px 50px 250px;
    border-top: 5px ridge green;
    border-bottom: 5px ridge green;
}

/* About Me section */
#aboutme {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
}

#aboutme h1 {
    padding: 10px 75px;
}

#aboutme p {
    padding: 10px 75px;
    margin-right: 0px;
}

#aboutme img {
    width: 225px;
    height: 250px;
    padding-right: 25px;
    margin-top: 25px;
}

/* Projects section */
#projects {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    border-top: 5px ridge green;
    border-bottom: 5px ridge green;
}

/* Contact information section */
#contact {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

#contact h1 {
    padding-bottom: 20px;
}

/* Media query changes for smaller screens */
@media screen and (max-width: 768px) {
    .prodivs {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .prodivs img {
        width: 75%;
        padding: 0px;
        margin: 0px;
        padding-top: 10px;
        
    }

    #header h1 {
        font-size: 50px;
    }

    #welcome {
        width: 100%;
        margin: 0px;
        margin-top: 10px;
        text-align: center;
    }

    #aboutme {
        flex-direction: column;
        text-align: center;
    }

    #projects {
        flex-direction: column;
        width: 100%;
    }
}